/* 清明上河图 */
html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: url("body_bg.jpg");
    font-size: 12px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

form {
    padding: 0px;
    margin: 0px;
}

input {
    margin: 0px;
}

#container {
    margin: 1px auto 0 auto;
    width: 798px;
    background: url("content_bg.jpg")repeat-y 0 320px;
}

.clearfix:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

/*全局导航*/
#globallink {
    position: relative;
    padding-bottom: 40px;
    height: 320px;
    background: url("banner.jpg")no-repeat;
}

    #globallink ul {
        position: absolute;
        display: inline;
        width: 574px;
        left: 112px;
        top: 320px;
        height: 45px;
        background: url(toplink.jpg) no-repeat;
    }

    #globallink li {
        padding-top: 10px;
        display: inline-block;
        text-align: center;
    }

        #globallink li.twoLittle {
            width: 75px;
        }

        #globallink li.fourLittle {
            width: 105px;
        }

    #globallink a:link, #globallink a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }

    #globallink a:hover {
        color: #000000;
        text-decoration: none;
    }
/*参数*/
#parameter {
    float: right;
    margin: 0;
    padding: 0 118px 0 0;
    width: 163px;
    color: #e1ad80;
    text-align: left;
}

    #parameter h3 span {
        display: none;
    }

    #parameter h3 {
        margin: 0;
        padding: 0;
        width: 163px;
        height: 27px;
    }

    #parameter > div {
        padding-bottom: 15px;
    }

    #parameter a:link {
        color: #C0C0C0;
    }

    #parameter a:visited {
        color: #C0C0C0;
    }

    #parameter a:hover {
        color: #000000;
    }

    #parameter a.author1:link {
        color: #3ca5c8;
    }

    #parameter a.author1:visited {
        color: #2c95b8;
    }

    #parameter a.author1:hover {
        color: #14889D;
    }

    #parameter .more {
        float: right;
        text-align: right;
        padding: 0.8rem 0.5rem 0.5rem 0;
    }

    #parameter ul {
        padding-top: 1rem;
    }

#lstatistics, #lhotblog, #lrecent, #lapply {
    position: relative;
}

    #lstatistics h3 {
        background: url(lstatistics.jpg) no-repeat;
    }

    #lhotblog h3 {
        background: url(lhotblog.jpg) no-repeat;
    }

    #lrecent h3 {
        background: url(lrecent.jpg) no-repeat;
    }

    #lapply h3 {
        background: url(lapply.jpg) no-repeat;
    }

    #lstatistics li {
        padding-left: 16px;
        line-height: 17px;
        background: url("arrow1.gif")no-repeat 0.7rem 0.5rem;
    }

    #lhotblog li {
        padding-left: 1.4rem;
        line-height: 1.7rem;
        background: url("arrow2.gif")no-repeat 0.7rem 0.5rem;
    }

    #lrecent li, #lapply li {
        padding-left: 1.4rem;
        line-height: 1.7rem;
        background: url("arrow3.gif")no-repeat 0.7rem 0.6rem;
    }
/*主体*/
#mainsupport {
    float: left;
    padding-left: 118px;
    width: 397px;
    color: #c86615;
}

    #mainsupport h3 {
        display: none;
    }

    #mainsupport li a:link {
        color: #c1936b;
    }

    #mainsupport li a:visited {
        color: #c1936b;
    }

    #mainsupport li a:hover {
        color: #BBAAAA;
    }

    #mainsupport li a.author2:link {
        color: #cb9a32;
        text-decoration: none;
    }

    #mainsupport li a.author2:visited {
        color: #cb9a32;
        text-decoration: none;
    }

    #mainsupport li a.author2:hover {
        color: #8a8a8a;
        text-decoration: underline;
    }

#recommendblog {
    position: relative;
    padding-top: 12px;
    width: 387px;
    height: 121px;
    background: url(recommendblog.jpg) no-repeat;
}

    #recommendblog ul {
        margin: 8px 0 0 8px;
        padding-left: 40px;
    }

        #recommendblog ul li {
            padding-left: 18px;
            line-height: 18px;
            background: url("arrow4.gif")no-repeat 3px 6px;
        }

    #recommendblog span a:link {
        color: #ea733e;
        text-decoration: none;
        padding-left: 45px;
        font-weight: bold;
    }

    #recommendblog span a:visited {
        color: #ea733e;
        text-decoration: none;
        padding-left: 45px;
        font-weight: bold;
    }

    #recommendblog span a:hover {
        color: #CCCC22;
        text-decoration: underline;
        padding-left: 45px;
        font-weight: bold;
    }

    #recommendblog span a.author2 {
        float: right;
        font-weight: lighter;
        margin-right: 15px;
    }

        #recommendblog span a.author2:link {
            color: #d5503f;
            text-decoration: none;
        }

        #recommendblog span a.author2:visited {
            color: #d5503f;
            text-decoration: none;
            font-weight: lighter;
        }

        #recommendblog span a.author2:hover {
            color: #BBCC44;
            text-decoration: underline;
            font-weight: lighter;
        }

#currenttime {
    padding-top: 12px;
    width: 388px;
    height: 70px;
    background-color: #6c401b;
}

    #currenttime p {
        display: inline;
        margin: 0;
        padding: 0;
    }

        #currenttime p.p1 {
            color: #bf8128;
            padding-left: 15px;
            padding-right: 10px;
        }

        #currenttime p.p2 {
            color: #dd5925;
        }

        #currenttime p a.astro:link {
            color: #c17200;
            text-decoration: none;
        }

        #currenttime p a.astro:visited {
            color: #c17200;
            text-decoration: none;
        }

        #currenttime p a.astro:hover {
            color: #D2D258;
            font-size: 12px;
            text-decoration: underline;
        }

    #currenttime ul {
        padding-top: 5px;
        padding-left: 15px;
    }

    #currenttime li {
        display: inline-block;
        width: 23px;
        line-height: 20px;
    }

#blogsearch {
    margin: 0px;
    background-color: #643c1a;
    width: 388px;
    height: 30px;
}

    #blogsearch ul {
        margin: 0px;
        padding-left: 10px;
        padding-top: 4px;
        list-style-type: none;
        text-align: left;
    }

    #blogsearch li {
        float: left;
        line-height: 22px;
    }

        #blogsearch li#sear1 input {
            background-color: #643c1a;
            border: 1px solid #c86615;
            color: #c86615;
            font-size: 12px;
            height: 15px;
            padding: 0px;
            margin-right: 8px;
        }

    #blogsearch #sear3 input, #blogsearch #sear4 input, #blogsearch #sear5 input {
        margin-left: 5px;
    }

    #blogsearch #sear6 input {
        background-color: #643c1a;
        border: 1px solid #c86615;
        color: #c86615;
        font-size: 12px;
        height: 17px;
        padding: 0px;
        margin-left: 8px;
        margin-top: 2px;
        margin-bottom: 0px;
    }

#logoin {
    height: 49px;
    width: 388px;
    background-color: #75451c;
}

    #logoin ul#per {
        margin: 0px;
        padding-left: 4px;
        padding-top: 3px;
        list-style-type: none;
        text-align: left;
    }

        #logoin ul#per li {
            padding-left: 18px;
            padding-top: 2px;
            margin: 0px;
            background: url(arrow5.gif) no-repeat 8px 8px;
        }

    #logoin #per input {
        background-color: #643c1a;
        border: 1px solid #c86615;
        color: #c86615;
        font-size: 12px;
        height: 15px;
        padding: 0px;
    }

    #logoin #per1 input.textinput1, #logoin #per2 input.textinput2 {
        background-color: #643c1a;
        border: 1px solid #c86615;
        color: #c86615;
        font-size: 12px;
        height: 14px;
        padding: 0px;
        width: 110px;
        FONT-FAMILY: "Tahoma","SimSun","Arial", "Helvetica", "sans-serif";
    }

#recommendart {
    width: 388px;
    background: url("recommendart.jpg")no-repeat #663f1d;
}

    #recommendart ul {
        padding: 40px 5px 10px 12px;
    }

    #recommendart li {
        padding-left: 9px;
        line-height: 18px;
        background: url("arrow6.gif")no-repeat 0 5px;
    }

#newnode {
    width: 388px;
    background: url("newnode.jpg")no-repeat;
}

    #newnode ul {
        padding: 10px 5px 10px 48px;
    }

    #newnode li {
        padding-left: 9px;
        line-height: 18px;
        background: url("arrow6.gif")no-repeat 0 5px;
    }
/*底部*/
#footer {
    clear: both;
    padding-top: 10px;
    height: 38px;
    text-align: center;
    background: url("footer_bg.jpg")no-repeat;
    color: #D3D388;
}

    #footer p {
        margin: 0;
        padding: 0;
    }

    #footer a:link {
        color: #D3D388;
    }

    #footer a:visited {
        color: #D3D388;
    }

    #footer a:hover {
        color: #222222;
    }
