body {
    margin: 0.8em;
    padding: 0;
}

div.pic {
    float: left;
    width: 160px;
    height: 160px;
    margin: 6px;
    padding: 0;
}

    div.pic a {
        display: block;
        padding: 5px;
    }

    div.pic img {
        border: 1px solid #82c3ff;
    }

    div.pic ul {
        display: none;
    }

div.ls {
    background: url(/images/framels.jpg) no-repeat;
}

div.pt {
    background: url(/images/framept.jpg) no-repeat;
}

div.ls img {
    width: 135px;
    height: 90px;
}

div.pt img {
    width: 90px;
    height: 135px;
}
