body {
    margin: 0.8em;
    padding: 0;
}

div.pic {
    float: left;
    width: 160px;
    height: 160px;
    margin: 6px;
    padding: 0;
}


    div.pic img {
        border: 1px solid #82c3ff;
    }

    div.pic ul {
        display: none;
    }

div.ls {
    background: url(/images/framels.jpg) no-repeat center;
}

    div.ls a {
        display: block;
        padding: 34px 14px 36px 11px;
    }

        div.ls a:hover {
            background: url(/images/framels_hover.jpg) no-repeat center;
        }

div.pt {
    background: url(/images/framept.jpg) no-repeat center;
}

    div.pt a {
        display: block;
        padding: 11px 36px 14px 34px;
    }

        div.pt a:hover {
            background: url(/images/framept_hover.jpg) no-repeat center;
        }

div.ls img {
    width: 135px;
    height: 90px;
}

div.pt img {
    width: 90px;
    height: 135px;
}
