body {
    margin: 0;
    padding: 0;
}



div.pic {
    margin: 5px 15px 25px 15px;
    width: 160px;
    height: 160px;
    position: relative;
}




ul {
    list-style: none;
}

div.pic ul {
    position: relative;
    /*top:15px;*/
    left: 180px;
    border: 1px solid #00008b;
    background-color: #00bfff;
}
