.container {
    margin: 10px;
}

.nav {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 29px;
    border-bottom: 1px solid #11a3ff;
}

    .nav li {
        float: left;
        margin: 0 5px 0 0;
        border: 1px solid #11a3ff;
        background-color: #a3dbff;
    }

        .nav li > a {
            display: block;
            width: 100px;
            text-align: center;
            line-height: 28px;
            text-decoration: none;
        }

        .nav li.on {
            background-color: #fff;
            border-bottom: 1px solid #fff;
        }

.content {
    padding: 15px;
    border: 1px solid #11a3ff;
    border-top: 0;
}
