/*全局样式*/
body {
    margin: 0;
    padding: 0;
    background-color: #ebf7ff;
    text-align: center;
    font-size: 12px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.clearfix {
    border: none;
}

.clearfix:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

form {
    padding: 0;
    margin: 0;
}

input {
    margin: 0;
}
/*------------------------------------*/

#container {
    position: relative;
    margin: 1px auto 0 auto;
    padding: 0;
    width: 880px;
    text-align: left;
}

/*-------------------------------------顶部导航条------------------------------------*/

#globallink {
    position: relative;
    height: 210px;
    background: url(banner.jpg) no-repeat;
}

    #globallink ul {
        position: absolute;
        display: inline;
        left: 468px;
        top: 180px;
        width: 417px;
    }

    #globallink li {
        display: inline-block;
        text-align: center;
    }

        #globallink li.twoLittle {
            width: 55px;
        }

        #globallink li.fourLittle {
            width: 75px;
        }

        #globallink li > a:visited, #globallink li > a:link {
            color: #FFFFFF;
            text-decoration: underline;
        }

        #globallink li > a:hover {
            color: #004c84;
            text-decoration: none;
        }

/*右侧*/
#parameter {
    position: relative;
    float: right;
    width: 176px;
    color: #FEFEFE;
    background-color: #0084a9;
}

    #parameter > div {
        margin-bottom: 15px;
    }

    #parameter ul {
        padding: 10px 0 0 0;
    }

    #parameter h3 > span {
        display: none;
    }

    #parameter h3 {
        margin: 0;
        padding: 0;
        height: 30px;
    }

    #parameter span.more {
        float: right;
        text-align: right;
        padding-top: 8px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    #parameter a:link, #parameter a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }


    #parameter a:hover {
        color: #000000;
        text-decoration: none;
    }

    #parameter a.author1:link {
        color: #39d3ff;
        text-decoration: none;
    }

    #parameter a.author1:visited {
        color: #37d2fc;
        text-decoration: none;
    }

    #parameter a.author1:hover {
        color: #14889D;
        text-decoration: none;
    }

#lstatistics h3 {
    background: url("lstatistics.jpg") no-repeat;
}

#lstatistics li {
    padding-left: 16px;
    line-height: 17px;
    background: url("arrow1.gif")no-repeat;
    background-position: 7px 4px;
}


#lhotblog li {
    padding-left: 14px;
    line-height: 17px;
    background: url("arrow2.gif")no-repeat;
    background-position: 7px 4px;
}

#lrecent li, #lapply li {
    padding-left: 14px;
    line-height: 17px;
    background: url("arrow3.gif")no-repeat;
    background-position: 7px 6px;
}


#lhotblog h3 {
    background: url("lhotblog.jpg")no-repeat;
}

#lrecent h3 {
    background: url("lrecent.jpg")no-repeat;
}

#lapply h3 {
    background: url("lapply.jpg")no-repeat;
}


/*主体*/

#mainsupport {
    float: left;
    width: 690px;
}

    #mainsupport div.clearfix {
        border: none;
    }

    #mainsupport div {
        border: 1px solid #226c81;
    }

    #mainsupport h3 span, #mainsupport h3 {
        display: none;
    }

    #mainsupport li a:link {
        color: #2a788e;
        font-size: 12px;
        text-decoration: none;
    }

    #mainsupport li a:visited {
        color: #227086;
        font-size: 12px;
        text-decoration: none;
    }

    #mainsupport li a:hover {
        color: #FFFFFF;
        font-size: 12px;
        text-decoration: none;
    }

    #mainsupport li a.author2:link {
        color: #050505;
        font-size: 12px;
        text-decoration: none;
    }

    #mainsupport li a.author2:visited {
        color: #0a0a0a;
        font-size: 12px;
        text-decoration: none;
    }

    #mainsupport li a.author2:hover {
        color: #4fd8ff;
        font-size: 12px;
        text-decoration: underline;
    }

#currenttime {
    position: relative;
    margin: 0 0 10px 0;
    padding: 10px 0 0 60px;
    width: 230px;
    height: 130px;
    background: url("time.jpg") no-repeat #a3d7ff;
}

    #currenttime li {
        display: inline-block;
        line-height: 18px;
        width: 18px;
    }

    #currenttime p.p1 {
        color: #915500;
    }

    #currenttime p.p2 {
        color: #7d0f00;
    }

#recommendblog {
    /*position: absolute;*/
    float: right;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-left: 48px;
    width: 332px;
    height: 125px;
    background: url("recommendblog.jpg")no-repeat #c4e6ff;
}

    #recommendblog span a:link {
        color: #00536b;
        text-decoration: none;
        font-weight: bold;
    }

    #recommendblog span a:visited {
        color: #00536b;
        text-decoration: none;
        font-weight: bold;
    }

    #recommendblog span a:hover {
        color: #FFFFFF;
        text-decoration: underline;
        font-weight: bold;
    }

    #recommendblog span a.author2 {
        margin-left: 50px;
        font-weight: lighter;
    }

        #recommendblog span a.author2:link {
            color: #020202;
            text-decoration: none;
        }

        #recommendblog span a.author2:visited {
            color: #020202;
            text-decoration: none;
            font-weight: lighter;
        }

        #recommendblog span a.author2:hover {
            color: #00536b;
            text-decoration: underline;
            font-weight: lighter;
        }

    #recommendblog ul {
        margin: 0;
        padding-top: 8px;
    }

    #recommendblog li {
        padding-left: 12px;
        line-height: 18px;
        background: url("arrow4.gif")no-repeat 2px 4px;
    }

#blogsearch {
    margin-bottom: 10px;
    height: 32px;
    background-color: #d1ebff;
    background-image: url(blogsearch.jpg);
    background-repeat: no-repeat;
}

    #blogsearch ul {
        margin-left: 160px;
        padding: 4px 0 0 0;
    }

    #blogsearch li {
        display: inline-block;
    }

        #blogsearch li#sear1 input {
            left: 160px;
            position: absolute;
            background-color: #FFFFFF;
            border: 1px solid #226c81;
            color: #226c81;
            font-size: 12px;
            height: 15px;
            padding: 0px;
        }

    #blogsearch #sear3 input, #blogsearch #sear4 input, #blogsearch #sear5 input {
        margin-left: 5px;
    }

    #blogsearch #sear3 input {
        margin-left: 55px;
    }

    #blogsearch #sear6 input {
        background-color: #FFFFFF;
        border: 1px solid #226c81;
        color: #226c81;
        font-size: 12px;
        height: 17px;
        padding: 0px;
        margin-left: 5px;
        margin-top: 2px;
        margin-bottom: 0px;
    }

#logoin {
    margin-bottom: 10px;
    height: 30px;
    background-color: #d1ebff;
}

    #logoin ul {
        padding-top: 3px;
    }

    #logoin li {
        display: inline-block;
        padding: 0 0 0 15px;
        line-height: 100%;
        background: url("arrow5.gif")no-repeat 8px 10px;
    }

    #logoin #per input {
        border: 1px solid #226c81;
        padding: 0px;
        height: 15px;
        background-color: #FFFFFF;
        color: #226c81;
        font-size: 12px;
    }

    #logoin .textinput1, #logoin .textinput2 {
        padding: 0px;
        border: 1px solid #226c81;
        width: 110px;
        height: 14px;
        background-color: #FFFFFF;
        color: #226c81;
        font-size: 12px;
        FONT-FAMILY: "Tahoma","SimSun","Arial", "Helvetica", "sans-serif";
    }

#recommendart {
    margin-bottom: 10px;
    padding-top: 35px;
    background: url(recommendart.jpg) no-repeat #def1ff;
}

    #recommendart ul {
        margin: 5px 0 0 0;
        padding: 0 5px 10px 15px;
    }

        #recommendart ul li {
            /*display: inline-block;*/
            float: left;
            padding-left: 5px;
            box-sizing: border-box;
            -moz-box-sizing: border-box; /* Firefox */
            -webkit-box-sizing: border-box; /* Safari */
            width: 50%;
            line-height: 20px;
            background: url(arrow6.gif) no-repeat 0px 8px;
        }

#newnode {
    margin-bottom: 10px;
    background: url(newnode.jpg) no-repeat;
    background-color: #def1ff;
}

    #newnode ul {
        margin: 5px 0 0 0;
        padding: 0 5px 10px 45px;
    }

    #newnode li {
        float: left;
        padding-left: 5px;
        width: 300px;
        background: url("arrow6.gif")no-repeat 0 8px;
    }

#footer {
    clear:both;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
    color: #226c81;
    background-color: #ebf7ff;
}

    #footer p {
        margin: 0px;
        padding-top: 10px;
        background-color: #ebf7ff;
    }

    #footer a:link {
        color: #006480;
        font-size: 12px;
        text-decoration: none;
    }

    #footer a:visited {
        color: #006480;
        font-size: 12px;
        text-decoration: none;
    }

    #footer a:hover {
        color: #000000;
        font-size: 12px;
        text-decoration: none;
    }
